target/

# sbt-slamdata common resources
/scripts/checkAndAutoMerge
/scripts/commonSetup
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/scripts/publishAndTag
/scripts/readVersion

# Integration test SSH key
key_for_docker.pub
key_for_docker
